body {
    background-image: url("../../assets/images/herringbone.png");
}


.container-fluid {
    font-family: Arial, "HelveticaNeue", Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    min-height: 100%;
    float: unset;
    position: relative;
    margin-top: 50px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #ffffff;
    color: #777777;
    padding: 20px;
    border-bottom: #dddddd;
    border-bottom-style: solid;
}

.display-6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    display: inline;
    padding: inherit;
}

h2 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #4aaaa5;
    border-bottom: solid;
    border-color: #dddddd;
}

.footer,
.push {
    text-align: center;
    clear: both;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    color: #dddddd;
    height: 50px;
}

a:link {
    color: #777777;
}

a:visited {
    color: #dddddd;
}

a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}